<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="dataSource" class="com.zl.webService.dao.base.DbRouteDataSource">
        <property name="targetDataSources">
            <map>
                <entry key="master" value-ref="master"/>
                <entry key="slave" value-ref="slave"/>
            </map>
        </property>
    </bean>

    <!--dataSource-->
    <bean id="master" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${driverClass}"/>
        <property name="jdbcUrl" value="${jdbcUrl_master}"/>
        <property name="user" value="${user_master}"/>
        <property name="password" value="${password_master}"/>
        <property name="initialPoolSize" value="2"/>
        <property name="minPoolSize" value="2"/>
        <property name="maxPoolSize" value="100"/>
        <property name="checkoutTimeout" value="5000"/>
        <property name="maxIdleTime" value="1800"/>
        <property name="idleConnectionTestPeriod" value="3000"/>
        <property name="acquireIncrement" value="2"/>
    </bean>

    <bean id="slave" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="${driverClass}"/>
        <property name="jdbcUrl" value="${jdbcUrl_slave}"/>
        <property name="user" value="${user_slave}"/>
        <property name="password" value="${password_slave}"/>
        <property name="initialPoolSize" value="2"/>
        <property name="minPoolSize" value="2"/>
        <property name="maxPoolSize" value="100"/>
        <property name="checkoutTimeout" value="5000"/>
        <property name="maxIdleTime" value="1800"/>
        <property name="idleConnectionTestPeriod" value="3000"/>
        <property name="acquireIncrement" value="2"/>
    </bean>

    <!--事物管理器-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--使用tx标签配置的事务拦截器-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="get*" read-only="true"/>
            <tx:method name="*" read-only="false" rollback-for="Exception"/>
        </tx:attributes>
    </tx:advice>

    <!--事务控制切面-->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="DynamicDataServicePointcut"
                      expression="execution(* *..*Service.*(..))"/>
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="DynamicDataServicePointcut"/>
    </aop:config>

    <!--读写分离切面-->
    <aop:config proxy-target-class="true">
        <aop:aspect ref="dataSourceAspect">
            <aop:pointcut id="DynamicDataSourcePointcut"
                          expression="execution(* com.zl.webService.service.impl.StudentServiceImpl.*(..))"/>
            <aop:before method="doBefore" pointcut-ref="DynamicDataSourcePointcut"/>
            <aop:after method="doAfter" pointcut-ref="DynamicDataSourcePointcut"/>
        </aop:aspect>
    </aop:config>

    <bean id="dataSourceAspect" class="com.zl.webService.dao.base.DataSourceAspect"/>

    <!--物理分页执行器-->
    <bean id="customSqlExecutor" class="com.zl.webService.dao.base.CustomExecutor">
        <property name="dialect">
            <ref bean="oracleDialect"/>
        </property>
        <property name="enablePage">
            <value>true</value>
        </property>
    </bean>

    <!--Oracle数据库方言-->
    <bean id="oracleDialect" class="com.zl.webService.dao.base.OracleDialect"/>

    <bean id="customDaoSupport" abstract="true" class="com.zl.webService.dao.base.CustomDaoSupport"
            init-method="initialization" lazy-init="true">
        <property name="dataSource">
            <ref bean="dataSource" />
        </property>
        <property name="customSqlExecutor">
            <ref bean="customSqlExecutor"/>
        </property>
    </bean>
</beans>