<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- JMX支持。创建MBeanServer. -->
       <bean id="mbeanServer"
             class="org.springframework.jmx.support.MBeanServerFactoryBean">
              <property name="locateExistingServerIfPossible" value="true"/>
       </bean>

       <!--业务组件注解-->
       <bean id="businessBeanPostProcessor" class="com.zl.webService.annotation.support.BusinessBeanPostProcessor">
              <property name="methodContexts" ref="methodContexts"/>
       </bean>

       <!--运行时业务组件所使用的方法-->
       <bean id="methodContexts" class="java.util.concurrent.ConcurrentHashMap"/>
</beans>