<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://cxf.apache.org/jaxws
            http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <import resource="applicationContext-student.xml"/>
    <import resource="applicationContext-businessFramewok.xml"/>

    <jaxws:endpoint id="WebServiceInterface" address="/service"
                    implementorClass="com.zl.webService.service.WebServiceInterface">
        <jaxws:implementor>
            <ref bean="webService"/>
        </jaxws:implementor>
        <jaxws:outInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
        </jaxws:outInterceptors>
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
        </jaxws:inInterceptors>
    </jaxws:endpoint>

    <bean id="webService" class="com.zl.webService.service.impl.WebServiceInterfaceImpl">
        <property name="businessService" ref="businessService"/>
    </bean>

    <bean id="businessService" class="com.zl.webService.service.impl.BusinessServiceImpl">
        <property name="studentService" ref="studentService"/>
        <property name="methodContexts" ref="methodContexts"/>
    </bean>

</beans>
